# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos
MONGO_URI=mongodb+srv://<USER>:<PASSWORD>@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=gestor_articulos

# Configuración Better Auth
BETTER_AUTH_SECRET=aqui_va_tu_secreto_seguro_y_largo
BETTER_AUTH_URL=http://localhost:3000
